html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-radius: 20px;
    padding: 10px 20px;
}

.container {
    font-size: 24px;
    color: black;
}

.unauth {
    visibility: visible;
}

.auth {
    visibility: collapse;
}

.header__inner {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 40px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu-link {
    border-radius: 20px;
    padding: 10px 20px;
}

.signin-link {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}


.signup-link,
.logout-link {
    background-color: black;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.user-name {
    color: white;
    width: 500;
}

.main__inner {
    margin: 20px auto;
    max-width: 1200px;
}

.main-title {
    margin: 100px 0 60px;
    max-width: 1000px;
}

.title {
    font-size: 48px;
    width: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 30px;
    color: grey;
}


.pagination {
    display: inline-block;
    margin: 20px 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


.content-item {
    width: 100%;
}

.content-item+.content-item {
    padding-top: 50px;
}

.item-link {
    display: flex;
    justify-content: start;
    width: 100%;
}

.item-img {
    width: 300px;
}

.item-text {
    margin: 0 20px 0;
}

.cite-text {
    margin-bottom: 30px;
}

.cite-author {
    color: grey;
    font-size: 22px;
}


.cite-details__inner {
    width: 42%;
    margin: 80px 5% 50px 6%;
}

.cite-img {
    width: 100%;
    margin-bottom: 20px;
}

.cite-details__inner .cite-text {
    font-size: 34px;
}

.cite-details__inner .cite-author {
    font-size: 28px;
}


.panel-btn{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.copy-btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    background: white;
    border: 3px solid black;
}

.mark-btn {
    background: white;
    border: none;
    width: 50px;
    padding: 0;
}

.mark-btn + .mark-btn {
    margin-left: 10px;
}

.mark-img{
    width: 100%;
}