html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.container {
    font-size: 24px;
    color: black;
}

.unauth {
    visibility: visible;
}

.auth {
    visibility: collapse;
}

.header__inner {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 40px;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu-link {
    border-radius: 20px;
    padding: 10px 20px;
}

.signin-link {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}


.signup-link,
.logout-link {
    background-color: black;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.user-name {
    color: white;
    width: 500;
}

.main__inner {
    margin: 20px auto;
    max-width: 1200px;
}

.main-title {
    margin: 100px 0 60px;
    max-width: 1000px;
}

.title {
    font-size: 48px;
    width: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 30px;
    color: grey;
}


.pagination {
    display: inline-block;
    margin: 20px 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


.content-item {
    width: 100%;
}

.content-item+.content-item {
    padding-top: 50px;
}

.item-link {
    display: flex;
    justify-content: start;
    width: 100%;
}

.item-img {
    width: 300px;
}

.item-text {
    margin: 0 20px 0;
}

.cite-text {
    margin-bottom: 26px;
}

.cite-author {
    color: grey;
    font-size: 20px;
}


.cite-details {
    width: 36%;
    margin: 80px 5% 50px;
}

.discution {
    width: 48%;
    margin: 80px 5% 50px;
}


.cite-img {
    width: 100%;
    margin-bottom: 20px;
}

.cite-details__inner .cite-text {
    font-size: 34px;
}

.cite-details__inner .cite-author {
    font-size: 28px;
}


.panel-btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.copy-btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 20px;
    width: 200px;
    border: 3px solid black;
}

.panel-btn__marks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mark-btn {
    border: none;
    width: 50px;
    padding: 0;
}

.mark-btn+.mark-count {
    margin-left: 10px;
}


.mark-count+.mark-btn {
    margin-left: 10px;
}


.mark-count {
    font-size: 30px;
    color: gray;
    width: 50px;
    padding: 0;
    font-weight: 500;
}

.mark-img {
    width: 100%;
}


.double-panel {
    display: flex;
    justify-content: space-around;
    top: 0;
    max-width: 1500px;
}


.discution__inner {
    width: 100%;
}

.chat {
    margin-top: 20px;
    max-width: 100%;
    overflow: auto;
    max-height: 600px;
}

.chat-message {
    border: 2px solid grey;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 20px;
}

.chat-message+.chat-message {
    margin-top: 20px;
}

.message-text {
    font-size: 20px;
    margin-bottom: 10px;
}

.message-senddata {
    display: flex;
    justify-content: space-between;
}

.message-author,
.message-date {
    color: grey;
    font-size: 18px;
}

.send-message-form {
    margin: 30px 0 0;
    display: flex;
    justify-content: space-between;
}

.input-message {
    width: 75%;
    height: 50px;
    padding: 20px 10px;
}

.send-btn {
    width: 20%;
    height: 50px;
}